.back-to-top {
    right: 0;
    width: 1em;
    bottom: 0;
    height: 1em;
    margin: 0 2em 2em 0;
    padding: .25em;
    border-radius: 40%;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.back-to-top:hover {
    color: #000000;
    text-decoration: none;
}