/* Esto es un comentario en css */

/* Quitamos el borde a todos los elementos de la página */
* {
    border: 0;
}

/* Cambiamos el color del texto de todos los párrafos a verde */
p {
    color: green;
}

/* Definimos una clase propia, sólo aplicable mediante class="azul" */
.azul {
    color: blue;
}

.conBorde {
    border: 1px solid black;
}

/* Poner un borde de 1 pixel de ancho, sólido y de color negro */

/* Descendientes sólo a aquellos elementos li que estén anidados en un elemento ul les será aplicado el cambio de color a magenta y el texto subrayado */
ul li {
    color: magenta;
    text-decoration: underline;
}

/* ID sólo aquél elemento que tenga el valor del id será cambiado */
#parrafoId {
    color: purple;
    text-decoration: underline;
    text-transform: uppercase;
}